:root {
  --primary-pink: #E93B6F;
  --primary-light-gray: #F1F5F8;
  --primary-dark-green: #213A45;
  --primary-light-green: #22A9AF;
  --border-radius: 4px;
  --box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}